<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<div id="rememberWarning" class="alert" style="display: none; background-color: none; color:black;">
    Preporučujemo da se svaki put unese e-mail i lozinka.
</div>
<script>
    document.addEventListener('DOMContentLoaded', function() {
var rememberMeCheckbox = document.getElementById('rememberMe');
var rememberWarning = document.getElementById('rememberWarning');

rememberMeCheckbox.addEventListener('change', function() {
if (this.checked) {
rememberWarning.style.display = 'block';
} else {
rememberWarning.style.display = 'none';
}
});
});
</script>
</body>
</html>